@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --jente-bakt: #6c4675
}


body{
    font-family: 'Montserrat', sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-logo{
    width: 100px;
    height: 100px;
}

.nav-left{
    display: flex;
    flex-direction: row;
}

nav {
    height: 100px;
    padding: 0 50px;
    
    display: flex;
    flex-direction: row;

    background-color: var(--jente-bakt);
    color: white;
    font-size: 22px;
    font-weight: 600;
    
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-self: center;
}

nav li {
    margin-right: 50px;

    list-style: none;
    display: inline;

}

nav li:hover{
    font-weight: 800 !important;
}

.nav-icon{
    font-size: 40px !important;
}

.nav-icon:hover{
    font-weight: 800;
}

nav a{
    color: white;
    text-decoration: none;
}

.mobile{
    display: none;
}

@media screen and (max-width: 600px) {
    .pc{
        display: none;
    }

    .mobile{
        display: initial;
    }

    nav {
        height: min-content;
    }

    
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-top: 10px;
    }

    .nav-mobile{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
    

/* MAIN */
main{
    padding-top: 30px;
    max-width: 1000px;
    margin: 0 auto;

    width: 100%;
}

.icon{
    cursor: pointer;
}

.icon-medium{
    font-size: 40px !important;
}

button{
    padding: 15px 25px;
    border-radius: 5px;
    border: none;

    background-color: var(--jente-bakt);
    color: white;
    font-weight: 600;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
    background-color: #7f548a;
    transition: .2s;
}

.card{
    width: 100%;

    display: flex;
    flex-direction: row;
}

.card-left, .card-right{
    width: 50%;
}

.card-image{
    width: 90%;
    height: 90%;

    border-radius: 15px;
}

.card-text{
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    .card.reverse {
        flex-direction: column-reverse;
    }

    .card{
        flex-direction: column;
    }

    .card-text{
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .card-left, .card-right{
        width: 100%;
    }

    .card-image{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

/* SHOP */

.shop-container{
    display: block;
    width: 100%;
}

.shop-card{
    height: 300px;
    margin: 20px 0;
    
    display: flex;

    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid grey;
    padding: 20px;
}

.shop-card:hover{
    background-color: #EEEEEE;
}

.shop-card img{
    height: 100%;
    margin-right: 10px;

    border-radius: 15px;
}

.shop-card-text{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.shop-card-text-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-card-title{
    display: block;
    font-size: 25px;
    font-weight: 700;
}

.shop-card-price{
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.shop-card-text-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.shop-card-shop{
    align-self: flex-end;
}

/* SHOPPINGCART */
.cart-table{
    width: 100%;
    margin: 20px 0;

    border-collapse: collapse;
}

.cart-table tr{
    height: 30px;
}

.cart-table td, .cart-table th{
    padding: 10px;
}

.cart-table th{
    font-size: 20px;
    font-weight: 600;
}

.cart-table td:first-of-type, .cart-table th:first-of-type{
    text-align: left;
}

.cart-table:not(td:first-of-type){
    text-align: center;
}

.next{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer{
    margin-top: auto;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-top{
    background: var(--jente-bakt);
    background: linear-gradient(90deg, rgba(108,70,117,1) 51%, rgba(188,130,201,1) 100%, rgba(108,70,117,1) 108%);
    
    color: white;
    padding: 50px 50px;
}

.footer-top-text{
    max-width: 1000px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    display: inline;
}

.footer-title{
    font-size: 15px;
    font-weight: 600;
}

.footer-bottom{
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .footer-top-text{
        flex-direction: column;
        
        display: flex;
        justify-content: center;
    }
    
    .footer-top-text > div {
        margin-top: 20px;
    }

    .footer-bottom{
        height: 50px;
    }
}

